@font-face {
  font-family: "OldStandardTT";
  src: url(./assets/font/OldStandardTT-Regular.ttf);
}

* {
  background-color: azure;
  margin: 0;
  font-family: "OldStandardTT";
  /* padding-inline: 10px; */
}

header {
  height: 80px;
  background-color: whitesmoke;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
}

.pic-size-a {
  height: 80px;
  width: 100px;
}

.pic-size-b {
  width: 55px;
  margin-right: 12px;
}

.df {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: baseline;
}

h1 {
  margin: 15px;
  font-size: 58px;
  font-weight: bolder;
}

h2 {
  margin-top: 16px;
  text-decoration: underline;
}

h3 {
  font-size: 42px;
  margin-top: 78px;
  margin-bottom: 14px;
  font-weight: 700;
  text-align: center;
}

label {
  font-size: 48px;
  margin-top: 78px;
  margin-bottom: 14px;
  font-weight: 800;
}

input {
  border-radius: 14px;
  border-color: black;
  border-style: solid;
  width: 350px;
  height: 32px;
  font-size: 18px;
  padding-left: 6px;
  cursor: pointer;
}

input:hover,
textarea:hover {
  background-color: rgba(240, 237, 237, 0.735);
  cursor: pointer;
}

textarea {
  border-radius: 14px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  font-size: 18px;
  padding: 6px;
  width: 350px;
  height: 200px;
  resize: none;
}

.note-b {
  height: 36px;
  width: 150px;
  border-color: black;
  border-style: solid;
  border-radius: 14px;
  font-size: 18px;
  cursor: pointer;
}

.note-b:hover {
  color: whitesmoke;
  background-color: black;
  cursor: pointer;
}

.note-pad {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.enter-note {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.all-note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;
}

.n-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.n-flex {
  display: flex;
  flex-direction: column;
}

footer {
  height: 80px;
  background-color: whitesmoke;
  margin-top: 40px;
}
