#notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

h4 {
  font-size: 26px;
  padding: 8px;
}

.note-p {
}

.note-card {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  gap: 8px;
  margin-bottom: 12px;
  border: 1px solid;
  width: 354px;
  align-items: flex-start;
}

.note-card:hover {
  transform: translateY(-5px);
}

.note-header h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.note-body p {
  margin: 0 0 20px 0;
  color: #666;
  line-height: 1.5;
  word-wrap: break-word;
}

.note-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 8px;
  transition: 0.2s;
}

.btn-delete {
  color: #c62828;
}

.btn-delete:hover {
  background-color: #ffcdd2;
}

.btn-archive {
  color: #2e7d32;
}

.btn-archive:hover {
  background-color: #c8e6c9;
}

.btn-restore {
 
  color: #1565c0;
}
.btn-restore:hover {
  background-color: #bbdefb;
}

.btn-delete-final {
  background-color: #b71c1c;
  color: white;
  font-weight: bold;
}
.btn-delete-final:hover {
  background-color: #d32f2f;
}

.btn-archive-small {
   color: #616161;
}

.note-card {
  border-left: 5px solid #2e7d32;
}
.trash-card {
  border-left: 5px solid #ef5350;
}
.archive-card {
  border-left: 5px solid #42a5f5;
}
